.titre{
	text-align: center;
	font-family: "serif", sans-serif;
}
.paragraphe{
	font-family: "serif", sans-serif;
}
.ligne{
	font-size: 18px;
	font-family: "serif", sans-serif;
}
.ligne2{
	font-size: 18px;
	font-family: "serif", sans-serif;
	text-align: center;
	list-style-type: none;
}
.video{
	display: flex;              
    justify-content: center;       
}
.image{
	display: flex;              
    justify-content: center;
}
